<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LesMangeursDuRouleau"
        tools:targetApi="31">

        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="lesmangeursdurouleau.com"
                    android:pathPrefix="/comment" />
            </intent-filter>
            <nav-graph android:value="@navigation/main_nav_graph" />
        </activity>

        <activity
            android:name=".ui.meetings.MeetingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.readings.BookDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.cropper.CropperActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LesMangeursDuRouleau.Cropper"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />

        <!--
         JUSTIFICATION DE L'AJOUT : C'est la correction du crash. La librairie uCrop a besoin que
         son activité principale, `UCropActivity`, soit déclarée dans le manifeste de l'application
         qui l'utilise. Sans cette déclaration, Android ne peut pas la trouver et lance une
         `ActivityNotFoundException`. En ajoutant ce bloc, nous résolvons le crash.
        -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />


        <service
            android:name=".notifications.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_color" />
    </application>

</manifest>